<p id="notice"><%= notice %></p>

<p>
  <b>Company name:</b>
  <%= @team.company_name %>
</p>

<p>
  <b>Nick name:</b>
  <%= @team.nick_name %>
</p>

<p>
  <b>Players on the team:</b>
  <%= render 'player_list' %>
</p>


<p>
  <b>Unsigned players available to add:</b>
  <%= render 'unsigned_players' %>
</p>

<p>
  <%= link_to "Back to teams list", teams_url %>
</p>